/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #055296;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .btn {
    background-color: transparent;
    border: 2px solid chocolate;
    color: #fff;
    padding: 10px 20px;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  nav ul li a:hover {
    color: #a96ae8;
    background-color: rgba(201, 201, 214, 0.1);
  }
  
  section {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 500px;
  }
  
  #beranda {
  background-image: url(ote.webp);
  }
  
  #profil {
    background-image: url(gambar2.webp);
  }
  
  #audio-video {
    background-image: url(gambar3.avif);
  }
  
  #tentang {
    background-image: url(44.jpg);
  }
  
  #berita {
    background-image: url(gambar\ 5.png);
  }
  
  section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  section p {
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }